
@font-face {
    font-family: "franchise";
    src: url(../Fonts/franchise_2/Franchise.ttf);
}
@font-face {
    font-family: "Noto Serif";
    src: url(../Fonts/Noto_Serif/NotoSerif-Regular.ttf);
}

@font-face {
    font-family: "Noto bold";
    src: url(../Fonts/Noto_Serif/NotoSerif-Bold.ttf);
}
@font-face {
    font-family: "bebas";
    src: url(../Fonts/bebas/Bebas-Regular.otf);
}
@font-face {
    font-family: "mollen";
    src: url(../Fonts/mollen/Mollen-BoldCondensed.otf);
}
#headerinicio {
    font-family: "franchise";
    margin-bottom: 110px;
     margin-top: 50px;
}
#titulo{
    margin-top: 60px;
}
#bodyinicio{
    
    margin-bottom: 200px;
    font-family: "mollen";
}
#body {
    width: 100%;
    height: 640px;
    background-image: url(../Imágenes/wallpaper.jpg);
    position: absolute;
    z-index: -1;
    background-size: cover;
}


#sectioninicio {
    
   margin-top: 200px;
    text-align: center;
    font-family: "mollen";
    
}
#principal {
    list-style: none;
}
button {
    text-decoration: none;
    color: snow!important;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    background: #6C4A25;
    border-radius: 15px;
    border: 3px #6c4a25;
}
.button {
    text-decoration: none;
    font-family: "bebas";
    color: snow;
    font-weight: bold;
}
footer {
    padding-bottom: 20px;
}
input {
    border-radius: 15px;
    font-family: "mollen";
    margin-right: 1220px;
}
textarea {
    border-radius: 15px;
    font-family: "mollen";
    margin-right: 850px;
}


#información{
 font-family: "Noto Serif";
 text-align: justify;

}

#titulos {
    font-family: "Noto bold";
}
#contenido{
    background-color: #EDD6BC; 
    margin-top:70px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 30px;
}
.imgcontenido {
   margin-left: 260px;
}
#videosfinales{
    margin-top: 100px;
    background-color: rgba(194, 149, 109, 0.959);
    padding: 60px;
}
.videosf{
    width: 400px;
    height: 300px;
}

.footer {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 50px;
}







