

@font-face {
    font-family: "franchise";
    src: url(../Fonts/franchise_2/Franchise.ttf);
}
@font-face {
    font-family: "Noto Serif";
    src: url(../Fonts/Noto_Serif/NotoSerif-Regular.ttf);
}

@font-face {
    font-family: "Noto bold";
    src: url(../Fonts/Noto_Serif/NotoSerif-Bold.ttf);
}
@font-face {
    font-family: "bebas";
    src: url(../Fonts/bebas/Bebas-Regular.otf);
}
@font-face {
    font-family: "mollen";
    src: url(../Fonts/mollen/Mollen-BoldCondensed.otf);
}
#animada {
    animation-duration: 12s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
    
}
#headerinicio {
    font-family: "franchise";
    margin-bottom: 110px;
     margin-top: 50px;
}
#titulo{
    margin-top: 60px;
}
#bodyinicio{
    
    margin-bottom: 200px;
    font-family: "mollen";
}
#body {
    width: 100%;
    height: 640px;
    background-image: url(../Imágenes/wallpaper.jpg);
    position: absolute;
    z-index: -1;
    background-size: cover;
}


#sectioninicio {
    
   margin-top: 200px;
    text-align: center;
    font-family: "mollen";
    
}

button {
    text-decoration: none;
    color: snow!important;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    background: #6C4A25;
    border-radius: 15px;
    border:none;
}
.button {
    text-decoration: none;
    font-family: "bebas";
    color: snow;
    font-weight: bold;
}
.button:hover {
    color: snow ;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    background:#D5A85A ;
    border-radius: 15px;
    border:none;
}

footer {
    padding-bottom: 20px;
}
input {
    border-radius: 15px;
    font-family: "mollen";
    margin-left: 0px;
}
textarea {
    border-radius: 15px;
    font-family: "mollen";
    
}
.botonok{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 15px;
    color: #ffffff;
    background-color:#5c3f27 ;
    border-radius: 6px;
    border: none;
    margin-top: 20px;
  }
  .botonok:hover{
    background-color:#A67F3B;
  }

.extras {
    background-color: #5c3f27;
    
}
.li {
    list-style: none;
    align-items: center;
    justify-content: center;
}
a {
    text-decoration: none;
    color: snow;
}
.a:hover{
    color:#A67F3B;
}


#información{
 font-family: "Noto Serif";
 text-align: justify;
 background-image: url(/Imágenes/wallpaper.jpg);

}

#titulos {
    font-family: "Noto bold";
}
#contenido{
    background-color:  #DCB893 ; 
    margin-top:70px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 30px;
}
.central {
    display: inline-flex;
    justify-content: space-between;
    
}
.recomendaciones {
    display: inline-flex;
    justify-content: space-between;
}
.imgcontenido {
   margin-left: 260px;
}
#videosfinales{
    margin-top: 100px;
    background-color: rgba(194, 149, 109, 0.959);
    padding: 60px;
}
.videosf{
    width: 400px;
    height: 300px;
}

.footer {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 50px;
}







