@font-face {
    font-family: "Noto Serif";
    src: url(../Fonts/Noto_Serif/NotoSerif-Regular.ttf);
}
@font-face {
    font-family: "Franchise";
    src: url(../Fonts/franchise_2/Franchise.ttf);
}
@font-face {
    font-family: "Noto bold";
    src: url(../Fonts/Noto_Serif/NotoSerif-Bold.ttf);
}

 body{
     font-family: "Noto Serif";
 }
body{
    margin-left: 240px;
    margin-right: 240px;
    margin-top: 60px;
    margin-bottom: 150px;
    text-align: justify;
}
img{
    margin-left: 200px;

}
body {
    background-color: #F4ECE3;
}
h2 {
    font-family: "Noto bold";
}




